<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">

<head>
  <title>Spotcandy - Mobile</title>

  <meta name="google-site-verification" content="A7cI8zwVCytRq4Qnkv8O5z5u-nY22SPYFbYCX85KIPc" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="description" content="The world's most attractive people.">

  <%= stylesheet_link_tag "themes/base/jquery.ui.all", "mobile/1140", "style" %>
  <%= javascript_include_tag :defaults, "jquery-ui/js/jquery-ui-1.8.9.custom.min.js" %>
  <%= csrf_meta_tag %>
  <% if request.env['HTTP_HOST'] != 'spotcandy.com.localhost:3000' && (action_name == 'home' || action_name == 'faq') %>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3542483-12']);
    <% if current_user %>
    _gaq.push(['_setCustomVar',1,'Scout','<%= current_user.email %>']);
    <% end %>
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <% end %>
</head>
<body<%= yield :body_class %>>
<div id="header">
  <div id="left_nav"><%= yield :left_nav %></div>
  <div id="right_nav"><%= yield :right_nav %></div>
  <% debug(session[:is_female]) %>
  <div id="primary_links">
    <ul>
      <% if session[:is_female].nil? %>
      <li class="first"><%= link_to "Home", root_path  %></li>
      <% end %>
      <li><% link_to "Contest", contest_path %></li>
      <% if current_user && controller_name != 'sessions' %>
        <% if session[:is_female].nil? %>
        <li><%= link_to "Search", search_candies_path %></li>
        <li><%= link_to "Jump!", {:controller => 'venues', :action => 'candies', :id => 'random'} %></li>
        <% else %>
        <li><%= link_to "Profile", {:controller => 'candies', :action => 'profile', :pid => session[:is_female]} %></li>
        <li><%= link_to "Logout", destroy_user_session_path %></li>
        <% end %>
      <% else %>
        <li><%= link_to "Login", user_session_path %></li>
        <li><%= link_to "Register", new_user_registration_path, :class => "signup_button round" %></li>
      <% end %>
    </ul>
  </div>
  <div class="clear"></div>
</div>
<div class="container">

	<div class="row">
		<div class="twelvecol">


          <% if notice %><p id="notice"><%= notice %></p><% end %>
          <%= yield %>
		</div>

	</div>
    
</div>
<%= yield :home_bottom %>

</body>
</html>